# Ignore platform-specific files
android/* linguist-vendored
ios/* linguist-vendored
linux/* linguist-vendored
macos/* linguist-vendored
windows/* linguist-vendored
web/* linguist-vendored

# Ignore CMake files
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored

# Ignore build files
build/* linguist-vendored